@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
#myBackGround {
  background-image: url('https://user-images.githubusercontent.com/58408904/111043140-f9c86300-840e-11eb-9613-a063c1600846.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: 100% 100%;
}

div#push {
  margin-top:80px;
}

.footer-basic {
  position: fixed;
  left: 0;
  border-radius: 10px 0 0 10px;
  bottom: 0;
  width: 100%;
  height: 85px;
  background: linear-gradient(
90deg
, rgb(204, 255, 255) 0%, hsl(210, 100%, 80%) 100%);
    background-image: linear-gradient(
90deg
, rgb(204, 255, 255) 0%, rgb(153, 204, 255) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;

  color:#ffffff;
}

#table1,
#table1 tr,
#table1 td { border: 0; 
  font-weight: bold;
  font-size: 20px;
  height: 5px;
 ;}

 body {font-family: Arial, Helvetica, sans-serif;}
      
 
 .modal {
   display: none; 
   position: fixed;
   z-index: 1; 
   padding-top: 100px; 
   left: 0;
   top: 0;
   width: 100%; 
   height: 100%; 
   overflow: auto; 
   background-color: rgb(0,0,0); 
   background-color: rgba(0,0,0,0.4); 
 }
 
 .modal-content {
   position: relative;
   background-color: #fefefe;
   margin: auto;
   padding: 0;
   border: 1px solid #888;
   width: 80%;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
   -webkit-animation-name: animatetop;
   -webkit-animation-duration: 0.4s;
   animation-name: animatetop;
   animation-duration: 0.4s
 }
 
 @-webkit-keyframes animatetop {
   from {top:-300px; opacity:0} 
   to {top:0; opacity:1}
 }
 
 @keyframes animatetop {
   from {top:-300px; opacity:0}
   to {top:0; opacity:1}
 }
 
 .close {
   color: white;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }
 
 .close:hover,
 .close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
 }
 
 .modal-header {
   padding: 2px 16px;
   background-color: #99e0f1;
   color: white;
 }
 
 .modal-body {padding: 2px 16px;}
 
 .modal-footer {
   padding: 2px 16px;
   background-color: #86ddf3;
   color: white;
 }

 #InstButton {
  position: absolute;
  top: 15px;
  right: 16px;
  border-radius: 4px;

  background: linear-gradient(to right, #84caeb, #55c1f3) !important;
  border: none;
  color: #FFFFFF;
  text-align: center;

  font-size: 16px;
  padding: 11px;
  width: 103px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 5px 8px 0 rgb(118, 178, 103), 0 7px 20px 0 rgba(0, 0, 0, 0.2);

 }