table {
    font-family: arial, sans-serif;
    border-collapse: initial;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 15px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  #The-Table-Title{
    font-size:25px;
    font-weight:bold;
    background-color:#a9a9a9d2;
  }

  .Inventory-Container{
    margin-left: 175px;
    max-width: calc(100% - 175px);
  }